{% extends 'layouts.html' %}

{% block title %}
<title>Category</title>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{msg}}
            </div>
            {% endif %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                {{msg}}
            </div>
            {% endif %}

            {% endfor %}

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr>
                {% for item in category %}
                <tr>
                    <td>{{item.category_name}}</td>
                    <td>
                        <a href="/products/updatecategory/{{item.id}}" class="btn btn-primary">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href="/products/deletecategory/{{item.id}}" class="btn btn-danger"
                            onclick="return confirm('Are you sure want to delete this category?')">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}